<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
  <Appenders>
    <Console name="LogToConsole" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File fileName="logs/app.log" name="LogToFile">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Logger additivity="false" level="debug" name="ir.baam">
      <AppenderRef ref="LogToFile"/>
      <AppenderRef ref="LogToConsole"/>
    </Logger>
    <Logger additivity="false" level="error" name="org.springframework.boot">
      <AppenderRef ref="LogToConsole"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="LogToFile"/>
      <AppenderRef ref="LogToConsole"/>
    </Root>
    <logger level="debug" name="org.springframework.web.filter.CommonsRequestLoggingFilter">
      <AppenderRef ref="LogToConsole"/>
    </logger>
  </Loggers>
</Configuration>